<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
</head>

<style>
  ul.number {
    list-style-type: lower-number;
  }
</style>

<body>
  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <ul class="number">
      <li v-for="item in items">
        <s v-if="item.done">{{ item.task }}</s>
        <b v-else>{{ item.task }}</b>
      </li>
    </ul>
    <input type="text" v-model:value="TaskBaru" />
    <button @click="addItems">Tambahkan</button>
    <p v-if="items.length > 3">Hebat</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        TaskBaru: '',
        items: [],
      },
      methods: {
        addItems: function () {
          this.items.push({ task: this.TaskBaru });
          this.TaskBaru = '';
        },
      },
    });
  </script>
</body>

</html>